.container {
  display: flex;
  flex-direction: column;
  max-width: 670px;
  height: auto;
}

.contentContainer {
  overflow: hidden;
  border-radius: 20px 20px 20px 0px;
  background-color: #ffffff;
  padding: 20px;
  gap: 16px;
  box-shadow: 0 14px 16px rgb(106, 139, 199);
}

.textContent {
  max-width: 630px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.12px;
  color: #000f7f;
  margin: 0 0 16px 0;
}

.description {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.08px;
  line-height: 120%;
  color: #898989;
  margin: 0;
}

.footSection {
  width: 100%;
  height: auto;
}

.emptySection {
  float: left;
  width: calc(100% - 180px);
  height: 50px;
  background-color: #ffffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 14px 16px rgb(106, 139, 199);
}

.concaveSection {
  float: left;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-bottom-left-radius: 20px;
}

.rightConcaveSection {
  width: 50px;
  height: 50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  /* background: radial-gradient(circle, #f6f9ff 0%, #7291ca 100%); */
  /* background: 
  linear-gradient(180deg, #7291ca, #f6f9ff),
  linear-gradient(0deg, #7291ca, #f6f9ff),
  linear-gradient(160deg, #7291ca, #f6f9ff); */
  background: linear-gradient(180deg, #7291ca, #f6f9ff),
  radial-gradient(circle, #f6f9ff 0%, #7291ca 100%); 
}

.bottomSection {
  position: relative;
  width: 130px;
  height: 40px;
  float: right;
border-radius: 20px;
  margin-top: 10px;
}

.requestButton {
  position: absolute;
  right: 0;
  width: 170px;
  height: 40px;
  padding: 12px 20px;
  background-color: #0f366e;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.07px;
  line-height: 120%;
  color: #f9f9f9;
}

.requestButton:hover {
  background-color: #1a4b8f;
}

.requestButton:active {
  background-color: #0a2854;
}
